/**/__pycache__/
/**/*.egg-info/
/**/dist/
/**/node_modules/
/**/lib/
/**/build/
/coi/XXXX
/**/.fleet/ 
/**/*.pyc  
/**/tmp/
/**/hk-dev-service/lib/
/**/*.spec
/**/*.tgz
/**/*.build/
/**/*.dist/
/**/data/tmp/