packaging==23.2
aiomysql==0.2.0
loguru==0.7.2
PyExifTool==0.5.6
PyJWT==2.8.0
requests==2.31.0
sanic==23.6.0
sanic-ext==23.6.0
SQLAlchemy==2.0.25
Pillow>=10.1.0
opencv-python==4.8.1.78
wechatpy==1.8.18
cryptography==41.0.7
websocket=0.2.1