/*table 页面*/
.el-container,
.c-container {
	height: 82vh;
	overflow: hidden;
}
.el-container .el-container {
	height: 100%;
}
.el-main,
.c-container .el-main {
	padding-top: 0;
	padding-bottom: 0;
	height: 90%;
	overflow: hidden;
}
.el-header .container,
.c-container .el-header .container {
	border: 1px solid #ddd;
	border-radius: 5px;
}
.el-header,
.c-container .el-header {
	height: auto;
}
.el-scrollbar,
.c-container .el-scrollbar {
	background: #fff;
}

.handle-box,
.c-container .handle-box {
	margin: 3px 0;
	display:flex
}
.handle-box.r{
	justify-content: end
}
.handle-box div + div,
.handle-box div + .el-button,
.c-container .handle-box div + div,
.c-container .handle-box div + .el-button {
	margin-left: 10px;
}
.el-link,
.c-container .el-link {
	margin-right: 8px;
}
.el-link .el-icon--right.el-icon,
.c-container .el-link .el-icon--right.el-icon {
	vertical-align: text-bottom;
}
.handle-select,
.c-container .handle-select {
	width: 120px;
}

.handle-input,
.c-container .handle-input {
	width: 300px;
}
.table,
.c-container .table {
	width: 100%;
	font-size: 14px;
}
.el-table .el-table__cell a,
.c-container .el-table .el-table__cell a {
	color: #409eff;
}
.el-table .el-table__cell a:hover,
.c-container .el-table .el-table__cell a:hover {
	color: #2c649c;
}
.red {
	color: #f56c6c;
}
.mr10,
.c-container .mr10 {
	margin-right: 10px;
}
.table-td-thumb,
.c-container .table-td-thumb {
	display: block;
	margin: auto;
	width: 40px;
	height: 40px;
}
.el-form,
.c-container .el-form {
	padding-right: 25px;
}
.formItem,
.c-container .formItem {
	display: flex;
	align-items: center;
	.label {
		display: inline-block;
		color: #aaa;
		padding: 0 5px;
	}
}
