shamefully-hoist=true
strict-peer-dependencies=false
shell-emulator=true
package-manager-strict=false
#https://pnpm.io/zh/next/npmrc
#node-linker=hoisted # https://github.com/unocss/unocss/issues/2921